body {
  font-family: cursive;
  background-color: ivory;
  padding: 0;
  margin: 0;
}

h1 {
  color: blue;
}

.main {
  margin: 20px;
}
.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: black;
}

.message {
  color: red;
}
